<!-- birthday-list.component.html -->
<div class="birthday-list-container">
    <!-- <h2>Birthday List</h2> -->
    <div *ngIf="usersEventList?.length" class="birthday-list">
      <div class="birthday-item" *ngFor="let person of (usersEventList | dateOfBirthSort)">
        <div class="birthday-info">
          <span class="birthday-date">{{ person.date_of_birth | unixTimestampToDate}}</span>
          <span class="birthday-name">{{ person.name }}</span>
        </div>
      </div>
    </div>
  <img *ngIf="!usersEventList?.length" src="./assets/images/no-data.jpg" alt="">
</div>
  