/* user-details-popup.component.scss */
// .popup {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: #fff;
//     padding: 20px;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   }
  

  /* user-details-popup.component.scss */
.user-details-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  z-index: 3;
}

.user-info {
  text-align: center;
}

.user-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-contact,
.user-joining-date,
.user-role {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Close button styles (optional) */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #555;
}
