
<!-- <app-top-bar (onClickUserDetailsPopup)="onClickUserDetailsPopup($event)"></app-top-bar>
<div class="app-container">
  <app-left-menu></app-left-menu>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div> -->


<!-- app.component.html -->
<!-- <div class="top-bar-container">
  <app-top-bar  (onClickUserDetailsPopup)="onClickUserDetailsPopup($event)"></app-top-bar>
</div>
<div class="app-container">
  <app-left-menu></app-left-menu>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div> -->



<!-- app.component.html -->
<div class="top-bar-container">
  <app-top-bar (onClickUserDetailsPopup)="onClickUserDetailsPopup($event)"></app-top-bar>
</div>
<div class="main-container">
  <div class="left-menu">
    <app-left-menu></app-left-menu>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>


<app-user-details-popup *ngIf="showUserDetailsPopup" [userDetails]="userDetails" (click)="onClickUserDetailsPopup(false)"></app-user-details-popup>