/* payslip-list.component.scss */
.payslip-list-container {
    padding: 20px;
  }
  
  .payslip-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .payslip-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  .payslip-table th,
  .payslip-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .payslip-table th {
    background-color: #43516a;
    font-weight: bold;
  }
  
  .payslip-table td {
    font-size: 16px;
  }
  
  /* Add hover effect for table rows */
  .payslip-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  